

<ul>
  <%= @services.each do |service|  %>
    <li><%= service.plan  %></li>  
    <li><%= service.price %></li>
    <li><%= service.duration %></li>
    <li><%= service.place %></li>
    <% end %> 
</ul>

