    <h1>Crear nuevo servicio</h1>
    
    <%= simple_form_for @service do |f| %>
	  <%= f.input :start_time %>
      <%= f.input :duration %>
	  <%= f.input :place %>
	  <%= f.input :plan %>
	  <%= f.input :price %>
	  <%= f.submit "Crear nuevo servicio!" %>
	<% end %>
