<h1>Detalles de servicio</h1>
<h2><%= @service.plan %></h2>
<h2><%= @service.price %></h2>
<h2><%= @service.start_time %></h2>
<h2><%= @service.user.first_name %></h2>


<br>

<h1>Detalles de appointment</h1>
  <% @service.appointments.each do |appointment| %>
    <ul class = "list-group"></ul>
      <li class = "list-group-item"> usuario = <%= appointment.user.email %> </li>
      <li class = "list-group-item"> <%= appointment.user.first_name %> </li>
      <%= link_to "Destruir appointment",  appointment_path(appointment), method: :delete, data: { confirm: "Está seguro que quiere eliminar el appointment"} %>
    </ul>
    <br>
  <% end  %>

  <%= link_to "Volver al index", services_path %>
  <%= link_to "Generar appointment", new_service_appointment_path(@service) %>

