<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.shaulph.ca/wp-content/uploads/2020/10/to-do-list.png);">
  <div class="container">
    <h1>Estás viendo los servicios de:</h1>
    <p><%= @service.user.first_name %>, <%= @service.user.last_name %> </p>
    <%#= link_to "Volver al inicio!", root_path, class: "btn btn-gradient"%>
    <%#= link_to "Descubrir más", services_path, class: "btn btn-gradient" %>
  </div>
</div>

<br>
<div class= "container">
  <div class = "container">

    <h3>Detalles del servicio ofrecido:</h1>
    <br>
    <h6>Plan: <strong> <%= @service.plan.capitalize %></h6> </strong>
    <h6>Precio en Pesos: <strong><%= @service.price %></h6></strong>
    <h6>Hora de inicio: <strong><%= @service.start_time %></h6></strong>
    <h6>Horas disponible: <strong><%= @service.duration %></h6></strong>
    <h6>Lugar: <strong><%= @service.place %></h6></strong>
    <h6>Nombre del escuchador: <strong><%= @service.user.first_name %>, <%= @service.user.last_name %></h6></strong>
  </div>

  <div id="map" class="w-5"
    style="width: 60%; height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<br>

<div class = "container">
  <%#= link_to "Generar appointment", new_service_appointment_path(@service) %>
  <%= link_to "Agendar servicio", new_service_appointment_path(@service), class: "btn btn-gradient" %>
</div>

<%= render 'shared/review' %>