<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1490462988459-a92f695ad4a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <h1>¿Estás buscando alguien que te acompañe?</h1>
    <p>Escucharte en silencio, caminar juntos, ir a la iglesia y mucho más. </p>
    
    <%= form_tag services_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control w-25",
      placeholder: "Ciudad"
      %>
      <br>
      <%= submit_tag "Buscar", class: "btn btn-gradient" %>
    <% end %>
    
    
    
    <%#= link_to "Descubrir más", services_path, class: "btn btn-gradient" %>
  </div>
</div>
<div class="container">
    <h2 class = "text-center mt-5">Populares</h2>
    


    <div class="cards mt-5">
    <% @services.each do |service| %>   
    <%= link_to service_path(service) do %>

    <div class="card-trip">
        <%= cl_image_tag service.photo.key %>
            <div class="card-trip-infos">
            <div>
            <h2><%=  service.plan %></h2>
            <%# <%= link_to "Ver más..", service_path(service) %>
            </div>
            <h2 class="card-trip-pricing">$<%=  service.price.to_i %></h2>            
            <% user = @users.sample %>
              <%# <img src="https://avatars.githubusercontent.com/u/62758510?v=4" alt="user" class= "card-trip-user avatar-bordered"> %>
              <%= cl_image_tag user.photo.key, class: "card-trip-user avatar-bordered" %>
              <%# <%= cl_image_tag user.photo.key, class: "card-trip-user avatar-bordered" %>                                 
        </div>
        </div>
         <% end %>
        <% end %>
    </div>
</div>    



<!--div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Buca a tu escuchador:</h2>

    <%= simple_form_for root_path ,url: services_path , method: "get" do |f| %>
      <%= f.input :query, placeholder: "Ciudad", label: false, required: false %>
      <%= f.input :start_time, placeholder: "Fecha", as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Buscar", class: "btn btn-primary" %>
    <% end %>
  </div-->

