<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://datacated.com/wp-content/uploads/2019/01/happy.jpg);">
<div class="container">
  <h1  style="color: white">Por favor revisa el servicio antes de <strong>confirmar!</strong></h1>
</div>
</div>
<br>
<div class="container" >
  <h6>Si confirmas el escuchador seleccionado recibira tu correo y se pondrá en contacto contigo pronto!.</h6>
  <br>
  <h6>Si necesitas cancelar tu cita recuerda hacerlo con <strong> al menos 24 horas de antelación</strong>.</h6>
  <br>
  <h6>Esto es para que otro usuario tenga posibilidad de tomarla.</h6>
  <br>
  <h6>A confirmar:</h6>
  <br>
    <h6>Nombre del escuchador: <strong><%= @service.user.first_name %>, <%= @service.user.last_name %></h6></strong>
    <h6>Descripción: <strong> <%= @service.plan.capitalize %></h6> </strong>
    <h6>Precio en Pesos ARG: <strong> $ <%= @service.price.to_i %></h6></strong>
    <h6>Fecha: <strong><%= @service.start_time.strftime('%a %d %b %Y') %></h6></strong>
    <h6>Disponibilidad: <strong><%= @service.duration.to_i %> hora(s)</h6></strong>
    <h6>Lugar: <strong><%= @service.place %></h6></strong>
  <br>
  <%= simple_form_for [@service, @appointment] do |f| %>
  <%= f.submit 'Volver', class: "btn btn-gradient" %>
  <% Appointment.create(user: current_user, service: @service) %>
  <%= link_to "Confirmar servicio", confirmation_path(@service), class: "btn btn-gradient" %>
  <% end %>
</div>


